.top-img {
    height: 20rem;
    object-fit: cover;
}

.carousel-item > img {
    min-height: 20rem;
    max-height: 31rem;
    object-fit: cover;
}

.top-nav {
    height: 30px;
    background-color: #212121!important;
}

.bottom-nav {
    background-color: #2E2E2E!important;
}

.footer, .footer .fa {
    color: rgba(255,255,255, 0.5);
}

.top-footer {
    background-color: #2E2E2E!important;
    min-height: 19vh;
    object-fit: cover
}

.bottom-footer {
    height: 30px;
    min-height: 3vh;
    background-color: #212121!important;
    object-fit: cover
}

.bottom-footer .container p {
    margin: 0;
}

.main-container {
    width: 100%;
    min-height: 78vh;
}

.breadcrumb { background-color: transparent !important; }

html, body {
    background-color: rgb(46, 46, 46,0.03);
  }
  
.link-deal:hover { 
    background-color: none; text-decoration: none;
}

.link-deal-website:hover > img {
    opacity: 0.85; 
}