body {
  margin: 0;
  font-family: "Arial", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Arial", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}
